<div div-with-gutter class="member_search">

  <div class="search_section">
    <div class="searchtitle">
      <h3>Search Members</h3>
      <a ui-sref="projects">Search Projects --></a>
    </div>
    <form class="form-horizontal col-md-6" role="form">
      <div input-field ng-repeat="field in fields1"></div>
    </form>
    <form class="form-horizontal col-md-6" role="form">
      <div input-field ng-repeat="field in fields2"></div>
    </form>
  </div>

  <div class="search_results_section">
    <h3> Search Results </h3>
  </div> 
  
</div>